.modal.right.fade .modal-dialog {
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;

    @media (min-width: $desktop-breakpoint) {
        left: -40px;
        top: 10px;
    }
    button {
        background: $blue;
        width: 30px;
        height: 30px;
        color: $dark-grey;
        padding: 0;
        color: $white;
        @include border-radius(50%);

        @media (min-width: $desktop-breakpoint) {
            background: $off-white;
            color: $dark-grey;
        }
    }
}

.modal-content {
    height: 100%;
    @include border-radius(0);

    .contact-info__icon {
        color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        height: 15vh;
    }

    .contact-info__name {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: $blue;
        padding: 0;
        height: 5vh;
    }

    .contact-info__tags {
        padding: 0 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;

        span {
            padding: 2px 10px;
            border: 1px solid $blue;
            color: $blue;
            font-size: 12px;
            margin: 0 5px;
            @include border-radius(5px);
        }
    }

    .contact-info__content {
        padding: 0;
        background: $off-white;
        height: 70vh;

        .nav-tabs {
            border: none;
            background: $white;
            justify-content: space-evenly;
            border-bottom: 1px solid $dark-grey;
            .nav-item {
                color: $dark-grey;

                &.active {
                    background: $off-white;
                    border: 1px solid $dark-grey;
                    border-bottom: none;
                    font-weight: bold;
                }

                &.disabled {
                    color: lighten($dark-grey, 20%);
                }

                &:hover {
                    font-weight: bold;
                    border: none;
                }
            }
        }

        .tab-content {
            .contact-info__content-main-info {
                padding: 20px;
                p {
                    text-transform: uppercase;
                    font-size: 12;
                    margin: 0;

                    &.label {
                        color: lighten($dark-grey, 30%);
                    }

                    &.value {
                        color: $dark-grey;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}